.App {
  display:grid;
  grid-template-rows:1fr 9fr;
  height:inherit;
}

.App .container{
grid-template-columns: 1.3fr 8.7fr;
display:grid;
}
.App .navigation{
  font-size: 30px;
  background-color:#bba8a0
}

.App .sideBar{
  background-color:#efe1e1
}

.App .hobbyCardContainer{
  background-color: #f8f7f3;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-content: flex-start;
  gap: 10px;
}

.App .cardContainer{
  border:10px;
  border-color: red;
}

.App-link {
  color: #61dafb;
}

